@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, html{
    margin:0;
    padding:0;
    font-family: 'Montserrat';
    color: rgb(233, 233, 233);
    background-color: rgb(81, 102, 79);
}

main {
    font-family: 'Montserrat';
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 80%;
}

header {
    font-family: 'Montserrat';
    color:rgb(81, 102, 79);
    font-size:3em;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    box-shadow: 0 3px 16px 0 rgb(0, 0, 0);
}

canvas {
    box-shadow: 0 3px 16px 0 rgb(0, 0, 0);
}


#wrapper {
    position: relative;
    margin: auto;
    height: 550px;
    width: 1050px;
}

.text-center {
    text-align: center;
}

p {
    margin-bottom: 0.5em
} 



